<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/projects">Projects</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!-- <li><a href="mailto:xxx@gmail.com">email</a></li> -->
	        		<!-- <li><a href="https://github.com/zilligm">github.com/zilligm</a></li> -->
				<!-- <li><a href="https://www.linkedin.com/in/guilhermezilli/">linkedin.com/in/guilhermezilli</a></li> -->
				<li><a class="footer" href="https://github.com/zilligm"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github'}}"></use></svg> </a></li>
				<li><a class="footer" href="https://www.linkedin.com/in/guilhermezilli"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin'}}"></use></svg> </a></li>
				<li><a class="footer" href="https://scholar.google.com.br/citations?user=HRzPqVAAAAAJ&hl"><svg class="svg-icon"><use href="google_scholar.svg"></use></svg> </a></li>
				</ul>
			</footer>
		</body>
	</html>
